/****************** 对Bootstrap的重置 *******************/

.container{min-width: 1200px}
.show-grid{margin-bottom: 15px}
.row{margin-left: -5px;margin-right: -5px}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-right: 5px;padding-left: 5px}
ul{margin:0;padding:0;list-style: none}
.form-control,.input-group-addon{border-radius: 0px;}
.label,label{font-weight: normal;margin-bottom: 0px}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix {display:inline-block;}
.clearfix {display:block;}
a:visited{text-decoration:none;}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
input{outline:none}/** 去掉谷歌浏览器文本框获得焦点时自动加的黄色边**/
.panel{border-radius:0px;border:none;box-shadow: none;margin-bottom:20px}
.panel h1{font-size:14px;margin:5px 0px 0px 0px}
.panel-heading{border-radius:0;border-color:none;background-color: #fff}
.panel-heading h3{font-weight: normal;margin:0;padding:0;font-size:14px}
.panel .panel-heading:first-child{border-radius:0px 0px 0px 0px;}
.panel-black .panel-heading{color:#d0292d;background-color: #fff;border-color:#d0292d;}
.panel-meta{color:#d4736c;line-height:20px;font-size:12px}
.panel-blue .panel-heading{color:#fff;background-color: #1caae1;border-color:#1caae1;}
.panel-red .panel-heading{color:#fff;background-color: #c02819;border-color:#c02819}
.panel-label{margin:0}
.panel-flower .panel-heading{background:#000;}
.panel-index .panel-body{padding:10px;margin-left:-10px;}
.panel-index .panel-mark{background: #fff;padding:4px 10px;color:#ce2b32;border-radius: 4px;margin-left:10px;font-size:12px;}
.panel-more{font-size:12px;color:#fdf5cd}
.panel-links a{padding:5px 10px;}
.panel-default{border:#EEEEEE 1px solid}
.panel-default>.panel-heading{border-color:#eee}
.panel-lg>.panel-body{padding-bottom: 50px;padding-top:50px;}

.ft-wt{font-weight:bold!important;}
/******************  基于Bootstrap 的扩展 ****************/


/********
    @name 白色文字
    @author 张有宽
********/
.text-white{color: white};



/********
    @name 12号文字
    @author macnie
********/
.text-small{font-size:12px !important;}



/********
    @name 基于Bootstrap扩展的黄色按钮 
    @author macnie
    @desc 黄色的按钮
**/
.btn-yarpai{color:#fff;background-color:#F27D00;border-color:#F27D00}
.btn-yarpai:hover,.btn-yarpai:focus,.btn-yarpai:active,.btn-yarpai.active,.open .dropdown-toggle.btn-yarpai{color:#fff;background-color:#de7301;border-color:#de7301}
.btn-yarpai:active,.btn-yarpai.active,.open .dropdown-toggle.btn-yarpai{background-image:none}
.btn-yarpai.disabled,.btn-yarpai[disabled],fieldset[disabled] .btn-yarpai,.btn-yarpai.disabled:hover,.btn-yarpai[disabled]:hover,fieldset[disabled] .btn-yarpai:hover,.btn-yarpai.disabled:focus,.btn-yarpai[disabled]:focus,fieldset[disabled] .btn-yarpai:focus,.btn-yarpai.disabled:active,.btn-yarpai[disabled]:active,fieldset[disabled] .btn-yarpai:active,.btn-yarpai.disabled.active,.btn-yarpai[disabled].active,fieldset[disabled] .btn-yarpai.active{background-color:#fca950;border-color:#fca950}
.btn-yarpai .badge{color:#d9534f;background-color:#fff}



/********
    @name btn的文件上传按钮
    @author macnie
    @desc 
*******/
.btn-upload{position: relative;overflow: hidden;}
.btn-upload input {position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px;direction: ltr;cursor: pointer}

/**********
    @name 空心按钮
********/
.btn-green{border-color: #398439;color:#398439;}
.btn-green:hover,.btn-green:active,btn-green:visited,btn-green:focus{border-color: #449d44 !important;color: #449d44 !important;background: transparent !important;}
.btn-blue{border-color: #337ab7;color:#337ab7;}
.btn-blue:hover,.btn-blue:active,.btn-blue:visited,.btn-blue:focus{border-color: #286090 !important;color: #286090 !important;background: transparent !important;}
.btn-pink{border-color: #FF8587;color: #FF8587;}
.btn-pink:hover,.btn-pink:active,btn-pink:visited,btn-pink:focus{border-color: #E87B7D !important;color: #E87B7D !important;background: transparent !important;}
.btn-orange{border-color: #FF6600;color: #FF6600;}
.btn-orange:hover,.btn-orange:active,btn-orange:visited,btn-orange:focus{border-color: #DC5800 !important;color: #DC5800 !important;background: transparent !important;}
/********
    @name 基于bootstrap扩展的方形按钮
    @author kassing
    @example *<a href="#" class="btn btn-square btn-green">绿色按钮</a>
    @desc 包含绿色按钮 橙色按钮 砖红色按钮
********/
.btn-square{display: inline-block;padding:3px 10px !important;color: white !important;border-radius: 0;}
.btn-square.btn-green{background-color: #398439;border: solid 1px #398439;}
.btn-square.btn-green:hover,.btn-square.btn-green:active,btn-green:visited,.btn-square.btn-green:focus{border-color: 
                                                                                                           #449d44 !important;color: #fff !important;background: #307130 !important;}
.btn-square.btn-orange{background-color: #FF6500;border: solid 1px #FF6500}
.btn-square.btn-orange:hover,.btn-square.btn-orange:active,btn-orange:visited,.btn-square.btn-orange:focus{border-color: 
                                                                                                               #E04306 !important;color: #fff !important;background: #E04306 !important;}
.btn-square.btn-brick{background-color: #BF4D4D;border: solid 1px #BF4D4D}
.btn-square.btn-brick:hover,.btn-square.btn-brick:active,btn-brick:visited,.btn-square.btn-brick:focus{border-color: 
                                                                                                           #BF4D4D !important;color: #fff !important;background: #BF4D4D !important;}

/********
   @name 基于bootstrap扩展的直角标签导航条
   @author kassing
   @example 
   @desc 
********/
.nav-block>li>a{border-radius: 0;padding: 10px 50px;margin-right: 0;}  
.nav-block>li.active>a, .nav-block>li.active>a:focus, .nav-block>li.active>a:hover{border-top: solid 3px #ff6600}
.nav-block>li>a:focus, .nav-block>li>a:hover{background: #fff;border-color: #fff}
/********
    @name 基于bootstrap扩展的直角面板
    @author kassing
    @example 
    @desc 
********/
.panel-block{border-radius: 0;}
.panel-block .panel-heading{border-radius: 0;}
.panel-block .panel-body{border-radius: 0;}

/********
    @name 基于bootstrap扩展的面板颜色
    @author kassing
    @example 
    @desc 
********/
.panel-skyblue .panel-heading{background-color: #f5f8fa;border: solid 1px #e4eaee}
.panel-skyblue .panel-body{border:solid 1px #e4eaee;margin-top: -1px}

/********
    @name 基于bootstrap扩展的路径背景颜色
    @author kassing
    @example 
    @desc 
********/
.breadcrumb-skyblue{border:solid 1px #e4eaee;background-color: #f5f8fa;border-radius: 0}

/********
    @name 基于bootstrap扩展的小进度条
    @author kassing
    @example 
    @desc 
********/
.progress-sm{height: 10px}



/****************** 自定义的独立Class ******************/
/**** MarginPadding ****/
.width-auto{width:auto !important}
.mt-5{margin-top:5px !important}
.mt-10{margin-top:10px !important}
.mt-20{margin-top:20px !important}
.mt-30{margin-top:30px !important}
.mt-50{margin-top:50px !important}
.mt-75{margin-top:75px !important;}
.ml-10{margin-left:10px !important}
.ml-20{margin-left:20px !important;}
.pt-0{padding-top: 0px !important;}
.ht-text{line-height: 30px;text-indent: 24px;}
/** 淡灰色的间隔符 **/
.split{color:#dddddd;font-weight: 100;/*margin-left:10px;margin-right:10px;*/}
.left-offset{margin-left:-10px;}
/***************** CSS 公共模块 *************************/


.list-text{list-style:none;margin:0;padding:0}
.list-text li{line-height: 30px;}
.list-bordered li{border-bottom:#eee 1px solid;}



/********
    @name 商品基础列表
    @author macnie
    @desc 基础的列表样式，请在此基础上进行扩展,heading主要用来展示商品图片，body用来展示商品标题、价格等信息，可以灵活实现上下、左右等布局
    @example 
    <dl class="items">
        <dt class="items-heading"><img class="items-thumb" src="" /></dt>
        <dd class="items-body">
            <h3 class="items-title">一头猪</h3>
            <div class="items-sale">
                <div class="items-price"><span class="price delete">￥88.00</span><span class="price">￥33.00</span></div>
                <div class="items-sale-count">总销量 222件</div>
            </div>
            <div class="items-shop">
                <div class="items-shop-info"></div>
                <div class="items-shop-location"></div>
            </div>
        </dd>
    </dl>
********/
.items{}
    .items-heading{width:100%;overflow:hidden}
    .items-thumb{width:100%}
/*鼠标滑过商品图片颜色变淡效果*/
.items-body{}
    .items-title{margin:0;padding:0;line-height:30px;font-size:12px;height:30px;overflow:hidden}
        .items-title a{color:#666666;}
        .items-title a:hover{color:#ff6600}
    .items-summary{color:#999999;}
    .items-rowstitle{height:50px;}
    .items-sale{line-height:30px}
        .items-price{float:left;}
    .items-sale-count,.items-address{float:right;color:#999}

/*可选的组件，如果使用这个，则是特价商品倒计时的样式*/
.items-countdown{background: url(../../img/timer_ico.jpg) no-repeat 5px center;padding-left:25px;height: 36px;line-height: 36px;border-top: 1px solid #e4e4e4;}
.items-shop{}
.items-shop a{color:#888;text-decoration: underline}
.items-shop-info{float:left;}
.items-location{float:right;color:#999}
.items-footer{}


/********
    @name 价格
    @author macnie
    @desc 基础价格命名空间
********/
.price{font-size:14px;color:#cc0000;}
.price em{font-style:normal}
.price-delete,.delete,delete{font-size:12px;text-decoration: line-through;color:#999;font-weight: normal}
.price-lg{font-size:21px;}
.price-md{font-size:18px;}
.price-sm{font-size:16px;}
.price-xs{font-size:12px;}
.price-wgt{font-weight:500;}


/********
    @name 店铺等级标志 
    @author macnie
    @desc 类似淘宝皇冠金冠等标志，按照等级数字调用
********/
.store-credit{background: url(../img/store-credit.png) no-repeat 0px 0px;width:115px;height:16px;display:inline-block;vertical-align: middle;}
.store-credit-1{background-position: 0px -0px;}
.store-credit-2{background-position: 0px -20px;}
.store-credit-3{background-position: 0px -40px;}
.store-credit-4{background-position: 0px -60px;}
.store-credit-5{background-position: 0px -80px;}
.store-credit-6{background-position: 0px -100px;}
.store-credit-7{background-position: 0px -120px;}
.store-credit-8{background-position: 0px -140px;}
.store-credit-9{background-position: 0px -160px;}
.store-credit-10{background-position: 0px -180px;}
.store-credit-11{background-position: 0px -200px;}
.store-credit-12{background-position: 0px -220px;}
.store-credit-13{background-position: 0px -240px;}
.store-credit-14{background-position: 0px -260px;}
.store-credit-15{background-position: 0px -280px;}
.store-credit-16{background-position: 0px -300px;}
.store-credit-17{background-position: 0px -320px;}
.store-credit-18{background-position: 0px -340px;}
.store-credit-19{background-position: 0px -360px;}
.store-credit-20{background-position: 0px -380px;}



/********
    @name   店铺服务动态得分 
    @author macnie
    @desc   和店铺等级不同，这里是店铺的动态得分图标
********/
.store-scores{background:url(../img/store-state.png) no-repeat 0px 0px;width:15px;height:15px;display:inline-block }
.state-0-0-0{background-position:0 7px;}
.state-1-1-1{background-position:0 -15px;}
.state-0-1-1{background-position:0 -34px;}
.state-1-0-1{background-position:0 -54px;}
.state-1-1-0{background-position:0 -77px;}
.state-1-0-0{background-position:0 -96px;}
.state-0-0-1{background-position:0 -116px;}
.state-0-1-0{background-position:0 -136px;}



/********
    @name 区域
********/
.section{background:#fff;}
.section-heading{height:30px;border-bottom:#eee 1px solid;line-height:30px;padding:0px 0px;margin-bottom: 10px;}
.section-title{float:left;margin:0px;padding:0px 0px 0px 10px;line-height:30px;font-size:16px;}
.section-more{float:right;color:#ccc}
.section-body{padding:10px;}
.section-footer{}
.section-bordered{border:#ccc 1px solid;}
.section-filter{border:#eee}
.section-green .section-heading{border-bottom:#669900 2px solid;}
.section-green .section-title{color:#669900}
.section-li-margin li a{font-size:14px;line-height:24px;}


/********
    @name 楼层
********/
.floor{}
.item-col-12{margin:0;padding:0;margin-left:-10px;}
.item-col-12 li{float:left;width:232px;margin-left:10px;padding-bottom: 10px;}

/** 能居中显示的页面，可以调整宽度 **/
.page{margin-right:auto;margin-left:auto;margin-top:20px;margin-bottom: 20px}
.page-md{width:800px}
.page-sm{width:640px}
.page-header{}



/*** 步骤导航 ***/
.steps{height:40px;margin:0px;padding:0px;list-style:none;margin-bottom:30px;}
.steps li{float:left;border-bottom:#e4e4e6 2px solid;line-height:40px;padding-left:20px;}
.steps li a{color:#999}
.steps-badges{background: #e4e4e6;display:inline-block;width:28px;height:28px;border-radius: 14px;line-height: 28px;text-align: center;margin-right:10px;color:#999}
.steps-colum-2 li{width:50%;}
.steps-colum-3 li{width:33.3333333%;}
.steps-colum-4 li{width:25%;}
.steps-colum-5 li{width:20%;}
.steps li.active{border-bottom-color:#ff6600}
.steps li.active a{color:#ff6600}
.steps li.active .steps-badges{background-color: #ff6600;color:#fff;}
/***步骤绿色***/
.steps-green li.active{border-bottom-color: #5EA31A;}
.steps-green li.active a{color:#5EA31A;}
.steps-green li.active .steps-badges{background-color: #5EA31A;}



/**** 悬浮窗 ******/
.ui-beacon-drop{position:relative}
.ui-beacon-item-link{display:inline-block;position: relative;height: 25px;line-height:23px;_height: auto;padding: 0px 13px;border: 1px solid rgba(0,0,0,0);border-bottom: none;}
.ui-beacon-hollow-arrow {display: inline-block;width: 8px;height: 8px;position: relative;}
.ui-beacon-drop .ui-beacon-hollow-arrow {position: relative;margin-right: 1px;top: 0;left:5px;}
@-moz-document url-prefix() { .ui-beacon-drop .ui-beacon-hollow-arrow{ left:8px;margin-right: 8px}}/*火狐下地址选择两个字也显示省略号问题兼容性问题修复*/
.ui-beacon-arrow-down, .ui-beacon-hollow-arrow {-webkit-transition-duration: 200ms;-moz-transition-duration: 200ms;transition-duration: 200ms;-webkit-transition-timing-function: linear;-moz-transition-timing-function: linear;transition-timing-function: linear;-webkit-transform-origin: 50% 30%;-moz-transform-origin: 50% 30%;transform-origin: 50% 30%;transition-property: transform;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;}
.ui-beacon-hollow-arrow em, .ui-beacon-hollow-arrow b {position: absolute;top: 0;left: 0;width: 0;height: 0;border-color: rgba(255,255,255,0);border-color: transparent\0;_border-color: tomato;_filter: chroma(color=tomato);border-style: solid;overflow: hidden;border-width: 4px 4px 0;}
.ui-beacon-hollow-arrow em {top: 2px;border-top-color: #999;}
.ui-beacon-hollow-arrow b {border-top-color: #fff;}
.ui-beacon-drop-hover .ui-beacon-item-link {border-color: #1686CC;color: #fff!important;z-index: 300000;background-color: #1686CC;border-radius: 3px 3px 0 0;}
.ui-beacon-drop-hover .ui-beacon-hollow-arrow {border-top-color: #fff;top: 2px;top: 1px\0;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
.ui-beacon-drop-hover .ui-beacon-hollow-arrow em {border-top-color: #fff;}
.ui-beacon-drop-hover .ui-beacon-hollow-arrow b {border-top-color: #1686CC;}
.ui-beacon-subs {position: absolute;border: 1px solid #e7e7e7;padding: 10px;background-color: #FFF;top: 25px;left: 0;z-index: 20000;display: none;border-radius: 0 3px 3px;}

/**** 
@name   结果提示模块
@author macnie
@desc   主要用来给出重要性的操作提示，比如一个完成某个操作成功或失败的独立页面
****/
.result{margin:50px auto;}
.success{background-color:#f4fef8;}
.result-heading{text-align:center;font-weight:200;margin:50px auto;}
.result-title{color: #1DC24D;font-weight: 200;font-size: 20px;}
.result-icon{padding: 4px 20px 4px 36px;background: url(../img/icon-result.png) no-repeat 0 0;}
.success .result-btn{background-color:#1DC24D;}
.result-body{text-align:center;}
.danger{background-color:#fdf3ed;}
.result-danger{}
.result-danger .result-title,.danger .result-title{color:#F40}
.result-danger .result-icon,.danger .result-icon{background-position: 0 -32px}
.danger .result-btn{background-color:#F40;}
.result-success{}
.result-alert{}
.result-btn{}





/**** 表单 ****/
.form-cake{}
.form-cake .input{margin:15px 0px;clear: both;}
.form-cake .control-label,.form-cake .input>label{display: inline-block;width: 100px;text-align: right}
.form-cake .control-label,.form-cake .input>label{float:left;font-weight:normal;width:180px;text-align: right;padding-right:10px;padding-top:7px;margin-bottom:0;text-align:right;}
.form-cake .form-control{display:inline-block;width:280px;margin-right:10px}
.form-cake .input-text{width: 280px;}
.form-cake .input-price,.form-cake .input-vcode{width:100px !important}
.form-cake .radio-group-item{margin-top:5px;float:left;margin-right: 15px;}
.form-cake .form-ext{color:#333;margin-left:10px;}
.form-cake em{font-style:normal;font-size:12px;color:#999;margin-left:10px;}
.form-cake .form-text{line-height: 30px}
.form-cake .select .checkbox{float:left;margin-right: 15px}
.form-cake textarea{resize: none;}
.form-cake .textarea .form-control{width:750px;}
.checkbox, .radio{margin-top:5px;}
.checkbox+.checkbox, .radio+.radio{margin-top:5px;}
.form-cake .submit,.form-cake .help-block,.form-cake .form-container{margin-left:100px;}
.form-cake .submit{width:280px}
.form-cake .radio .radio-group-item .form-container,.select .checkbox .form-container,.form-cake .form-container .help-block{margin-left:0px;}
#ueditor-container{width:750px}
.form-cake .btn-green{position: relative;top: -2px;}



/***** 图片徽章 ******/
/*
如图片列表的图片<dt>是特产，则挂入特产的徽章
*/
dl dt.badges{position: relative}
dl dt.badges i{position: absolute;background:#F60;width:30px;height:25px;color:#fff;font-style:normal;font-size:12px;font-weight:normal;line-height:25px;text-align:center;right:0;bottom:0;border-radius: 4px;}            



/**************
    @name：商品标题
    @author:gaohansheng
    @desc:商品标题
***************/
h4 a{color:#666666; line-height:20px;font-size:14px;}
h5 a{color:#666666; line-height:20px;font-size:12px;}


/**************
    @name：已卖出商品件数
    @author:gaohansheng
    @desc:已卖出商品件数
***************/
.sold{color:#999999;margin-left:20px;font-size:12px; text-decoration:none;}
.sold b{color:#73b754;margin: 0 2px;}


/**************
    @name：整屏显示5个商品
    @author:gaohansheng
    @desc:整屏一行显示5个商品
***************/
.line-five-items{padding:0;width:1215px;margin:0;}
.line-five-items li{width:226px; height:320px;margin-right:17px;border:1px solid #e4e4e4; list-style: none;float:left;}
.line-five-items li .goods{margin:15px;width:195px;height:185px;}
.line-five-items li h5{margin:0 15px 15px 15px;}
.line-five-items li .price{margin:0 15px 10px 15px;}
.line-five-items li.active{border:1px solid #e4393c;}

/********
    @name 商品列表：横屏的商品五个 
    @author macnie
****/
.items-rows{margin-left:-17px;}
.items-rows .items{width:226px;height:340px;margin-left:17px;list-style: none;float:left;}
.items-rows-bordered .items{border:1px solid #e4e4e4;}



/*栏目右侧更多*/
.more{float:right; color:#666666;font-size:12px;}


/**************
    @name：半透明背景
    @author:gaohansheng
    @desc:半透明背景
***************/
.opacity{background:url(/Public/img/fancybox_overlay.png) repeat;}



/**************
    @name：倒计时样式
    @author:gaohansheng
    @desc:倒计时样式
***************/
.items-countdown,.countdown{background:url(../../img/timer_ico.png) no-repeat 5px center; padding-left:25px; height:36px; line-height:36px; border-top:1px solid #e4e4e4;}
.time-clr span{color:#e4393c; font-weight:bold;margin:0 2px;}



/********
    @name 商品列表：横屏的商品五个 
    @date 15/12/1
    @author macnie
****/
.items-rows{margin-left:-17px;}
.items-rows .items{width:226px;height:340px;margin-left:17px;list-style: none;float:left;}
.items-rows-bordered .items{border:1px solid #e4e4e4;}


/********
    @name 焦点图样式
    @date 15/12/4
    @desc 焦点图样式
****/
.focus-pic{position:relative; width:732px; height:315px;overflow:hidden;}
.focus-pic ul{padding:0;margin:0;}
.focus-pic ul li{float:left;list-style: none;}
.focus-pic ul li a img{height:315px; width:732px;}
.focus-pic-li{width:160px; position:absolute; right:50px; bottom:20px; z-index:3;}
.focus-pic-li ul{padding:0;}
.focus-pic-li ul li{width:19px; height:19px; background:url(../../img/scroll-ico.png) no-repeat 0 0; color:#ffffff;text-align: center;line-height: 19px;margin:0 6px; cursor:pointer;float:left;list-style: none;}
.focus-pic-li ul li.on{background-position:0 -19px;}



/********
    @name tab切换
    @date 15/12/4
    @desc tab切换
****/     
.tabs-navs{height:30px;width:100%; float:none;}
.tabs-navs ul{padding:0;margin:0;}
.tabs-navs ul li{list-style: none;cursor: pointer;text-align:center;padding:0;background:#f1f1f1; border:1px solid #f1f1f1; border-bottom:1px solid #e4e4e4; width:56px;height:30px;line-height: 30px;float: left;list-style: none;}
.tabs-navs a{color:#999999; font-size:14px;line-height: 30px;}
.tabs-navs ul li.active{background:#ffffff; border-bottom:none;border-right:1px solid #e4e4e4; border-left:1px solid #e4e4e4;}
.tabs-navs ul li.first{border-left:0;}
.tabs-navs ul li.last{border-right:0;width:58px;}
.tabs-navs ul li.active a{ color:#666666;}
.slider1 .tabs-main{height:144px;}
.slider1 .tabs-main ul{padding:9px;}
.slider1  .tabs-main ul li{height:25px; line-height:25px;list-style:none;display: block;}
.slider1 .tabs-main ul li a {color:#777;}

.nav-htzy>li.active>a, .nav-htzy>li.active>a:focus, .nav-htzy>li.active>a:hover{background-color:transparent;border: none;border-bottom: solid 1px #ff6600}
.nav-htzy>li>a{font-size: 16px;color: #333333;padding: 5px 0;font-weight: bold;}


/********
   @name 分页样式
   @date 15/12/4
   @desc 分页样式
****/                    
.page{ clear:both;padding:0;}
.page a,.page span{color:#777;border-radius: 4px;float: left;padding: 6px 12px;margin-left:2px;line-height: 1.42857143;
  color: #337ab7;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.page .current{background: #fd6600;color: #ffffff;border-color: #ff6600;}

/********
   @name 商品品牌列表滚动效果
   @date 15/12/4
   @desc 商品品牌列表滚动效果
****/  
.brand{height:66px;position:relative;overflow:hidden;}
.brand .brand-scroll{width:1200px; height:66px;overflow:hidden; }
.brand .brand-scroll ul{width:1216px;}
.brand .brand-scroll ul li{width:136px; height:66px;  float:left;margin:0 16px 0 0; display:inline;}
.brand .brand-scroll ul li a img{width:136px; height:66px;border:1px solid #e4e4e4;}
.brand .brand-scroll ul li a:hover img{border:1px solid #e74f6e}
.brand a.prev,.brand a.next{height:66px;width: 38px; display: block; z-index: 20;position:absolute;cursor:pointer;}
.brand a.prev{background:url(../../img/special/focus_btn.png) no-repeat 0 0;  top:0px; left:0px;}
.brand a.next{background:url(../../img/special/focus_btn.png) no-repeat -40px 0;  top:0px; right:0px;}
.brand a.prev:hover{background:url(../../img/special/focus_btn.png) no-repeat 0 -74px;}
.brand a.next:hover{background:url(../../img/special/focus_btn.png) no-repeat -40px -74px;}

/*栏目标题带下划线*/
.header-line{height:30px; line-height:30px; padding:40px 0 20px 0;}
.header-line hr{color:#35383a;margin:0;}
.header-line h2{position:relative;font-size:16px;line-height:30px;color:#adadad; height:30px; margin:-15px auto 0 auto;text-align: center;background:#ffffff;}



/********
    @name 认领体验
    @date 15/12/21
    @author gaohansheng
****/
.experience{overflow:hidden;margin-top:15px;width:1200px;}
.experience ul{padding:0;margin:0;}
.experience .items{float:left;height:440px;width:291px;margin-right:15px;}
.experience .items-title a{color:#333;}
.experience .items-heading{width:265px;margin:10px;}
.experience .items-thumb{width:265px;height:265px;}
.experience .items-body{padding:0 15px;}
.items-review{padding:5px 0; background:#f8f8f8;line-height:20px; color:#666666;}
.items-coment-info{margin:5px 0;}
.items-coment-info .ico{background:url(../../img/pub.png) no-repeat;padding-left:25px;color:#999999;}
.items-coment-info .good{background-position:10px -29px;}
.items-coment-info .good:hover{background-position:10px -45px;}
.items-coment-info .review-num{background-position:10px 2px;}
.items-coment-info .review-num:hover{background-position:10px -14px;}
.items-user{height:40px;background-color:#9ab5d1;line-height:40px;color:#fff;padding:2px 5px;border-radius:2px;}       

/*搜索条件筛选模块*/
.group{border:1px solid #e4e4e4;}
.group-row{border-bottom:1px dashed #e4e4e4;position:relative;}
.group-row h3{margin:9px 40px 9px 20px;}
.group-row .title{height:30px;width:100px;color:#999999;position:absolute;top:10px;left:20px;}
.group-row .items{padding-left:100px;display:block;}
.group .group-row .items a{margin:9px 40px 9px 0;float:left;color:#333333;}
.group .group-row .items a.active{color:#61ad35;}
.group .group-row .items select{border:0;margin:9px 40px 9px 0;float:left;color:#333333;}
.group .group-row .items span{color:#999999;margin:9px 40px 9px 0;float:left;}
.last-row{border-bottom:0;}




/********
    @name 导航栏
    @date 16/4/5
    @author 张有宽
    @desc:
****/
.navbar-htzy{border: none;transition: all 1000ms;border-bottom: 1px solid #ddd;}
.navbar{min-height:75px;}
.navbar-htzy .navbar-brand{padding:0;height:75px;line-height:55px;}
.navbar-htzy .navbar-title{margin:12px 12px 12px 0;}
.navbar-htzy .navbar-title>a{font-size: 16px;}
.navbar-htzy .navbar-title>a:hover{color: #ff6600 !important}
.navbar-htzy .navbar-nav>li>a{color: #333333;}
.navbar-htzy .navbar-nav>.active>a, .navbar-htzy .navbar-nav>.active>a:focus, .navbar-htzy .navbar-nav>.active>a:hover{background-color: transparent;color:#ff6600;font-weight:normal;}
.navbar-htzy .city-select{background: #f9f9f9;border:1px solid #d7dce4; margin:21px 10px;padding: 5px 10px;border-radius: 3px}
.navbar-htzy .city-select:hover{background: #f9f9f9 !important}
.navbar-htzy .navbar-right>li>a{margin-top:12px;}


.navbar-htzy .split{padding: 15px 0;margin-top:12px;}   
.navbar-htzy .login{padding:0;display: inline-block;margin-top:23px;}
.navbar-htzy .login a{margin: 0 5px;padding:6px 15px;color:#333;border:1px solid #d7dce4; border-radius:4px; display:inline-block;}
.navbar-htzy .login a:hover{color:#ff6600;border:1px solid #ff6600;}
.navbar-htzy .dropdown-menu{min-width: 100px;left: -15px;background: #fff;}
.navbar-htzy .user .dropdown-menu{position: absolute;left: -8px;background: #fff}
.navbar-htzy ul>li>a:hover{color: #ff6600 !important}



.carousel-htzy .carousel-caption{bottom:15%;font-size: 48px;font-weight: bold}
.carousel-htzy .carousel-caption>.topic{font-size: 24px;font-weight: normal;margin-top: 20px}
@media (max-width:903px){
    .carousel-htzy .carousel-caption{font-size: 24px;}
    .carousel-htzy .carousel-caption>.topic{font-size: 12px;}
}
@media (min-width:903px) and (max-width:1200px){
    .carousel-htzy .carousel-caption{font-size: 36px;}
    .carousel-htzy .carousel-caption>.topic{font-size: 18px;}
}


.has-htzy input[type="text"]{border: 2px solid #ff6600}
.has-htzy .input-group-addon{background: #ff6600;border-color: #ff6600;color: #fff;font-size: 16px;padding: 8px 20px}

/********
    @name 通用模块标题
    @date 15/12/1
    @author gaohansheng
    @desc:网站栏目模块标题
****/
.module-header{width:100%;height:30px;line-height:30px;margin-bottom:5px;}
.module-header b{font-size:16px;margin-right:5px;font-weight:normal;}
.module-header .ico{float:left;margin-right:5px;}
.module-header h2{float:left;margin:0;font-size:16px;height:30px;line-height:30px;}
.module-header .nav-li{float:right;width:auto;height:30px;line-height:30px;margin:0;}
.module-header .nav-li li{float:left;list-style:none;}
.module-header .nav-li li a{color:#333333;font-size:14px;border-bottom:2px solid #ffffff;margin:0 13px;height:30px; line-height:30px;display:block;}
.module-header .nav-li li.active a{border:none; border-bottom: 2px solid #60a411;color:#666666;}
.module-header .more{float:right;font-size:12px;padding-right:10px;}


/*众筹美食商品角标*/
.conner-state{position:absolute; top:0; left:0;line-height:25px;font-size:12px;height:25px;width:60px;padding-left:5px;color:#ffffff;font-weight:normal;background:url(../../img/conner-ico.png) no-repeat;}
/*众筹美食商品公用样式*/
.progress-crowds{height:8px;}
.items-crowd{padding:0;margin:0;}
.items-crowd li,.items-crowd div{list-style:none;width:32%;float:left;padding:10px 0; text-align:center;}    
.items-crowd li em,.items-crowd div em{font-style:normal;display:block;padding:2px 0;}


/********
    @name 网站右侧边购物车
    @date 15/12/1
    @author gaohansheng
    @desc:网站右侧边购物车
****/
.cart-bar-tools{background:#444851;width:40px;height:100%;position:fixed;right:0px; top:0;z-index:99999;}
.cart-bar-tools .top{position: absolute;top: 50%;left: 0;margin-top:-190px;}
.panel-bar{width:40px;}
.panel-bar ul{padding:0px;margin:0px;}
.panel-bar li{list-style:none;margin:0; position:relative;}
.media-bar-close,.setting{background:url(../../img/ibar_sprites.png) no-repeat;cursor:pointer;width:25px;height:25px;position:absolute;top:7px;right:7px;display:block;}
.panel-bar .link{height:40px;width:40px;display:block;}
.panel-bar .link:hover,.panel-bar .active .link{background-color:#ff6600;}
.panel-bar .pannel-toggle{position:fixed;right:40px;top:0px;width:287px;padding:10px;background: #fff;box-shadow: 0 0 5px #999;border-radius: 5px 0 0 5px;border: 1px solid #e4e4e4;height:100%;}  
/*购物车图文公用模块*/
.cart-bar-tools .active .pannel-toggle{display:block;}
.pannel-toggle {display:none;}
.pannel-toggle .media-head{height:40px;width:100%; line-height:40px;font-size:16px;}
.media-bar-close{background-position:5px -140px;width: 40px;height:40px; float:right;position:static;}
.pannel-toggle .media-body{border-top:1px solid #e4e4e4;}
.pannel-toggle dl{margin:10px 0;}
.pannel-toggle dl dt{float:left;width:100px;height:100px;}
.pannel-toggle dl dt img{width:100px;height:100px;}
.pannel-toggle dl dd{float:left;width:165px;height:100px;padding-left:15px;}
.pannel-toggle h5{margin:2px 0;}
.cart-skus span{  background: #FF9934;color: #fff;padding: 2px 5px;border-radius: 4px;}
.pannel-toggle .price-xs{margin:5px 0;float:none;}
.pannel-toggle .media-foot{position:absolute;bottom:0;left:0;height:100px;line-height:40px;padding:0 15px;}
.pannel-toggle .total-info{width:257px;}
.pannel-toggle .total-count{font-size:16px;}.total-count b{color:#ed145b;}
.pannel-toggle .price-sm{float:right;}
a.cart_go_btn{display: block;height: 33px;line-height: 33px;font-size:18px;color: #fff;text-align: center;background: #1AC14B;width: 260px;margin: 0 auto;}
.meida-animate{position:absolute;height:40px;line-height:40px;width: 92px;z-index: 2;left: -121px;top: 0;background: #444851;color: #fff;text-align: center;display: block;opacity:0;filter:alpha(opacity=0);/* IE */-moz-opacity:0;/* 老版Mozilla */-khtml-opacity:0;/* 老版Safari */opacity: 0;      }
.meida-animate i.setting{right: -5px;top: 15px;width:5px;height:9px;background-position: 0 -179px;}
/*侧边购物车用户信息*/
.media-bar-login .setting{background-position:0px 0;}
.cart-bar-tools .media-bar-user{height:185px;position:absolute;top:0px;right:40px;}
.media-bar-user-btn{width: 267px;height:60px;border-top: 1px dotted #d5d5d5;overflow: hidden;padding-top: 15px;clear: both;}
.media-bar-user-btn a{width: 94px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #e4e4e4;float: left;margin:0 10px 0 25px;}
/*侧边购物车*/
.cart-bar-tools .media-bar-cart{height:auto;padding-bottom:15px;}
.media-bar-cart .setting{background-position: 0px -30px;}
.meidia-bar-bart-txt{padding:40px 12px 0 12px;color:#fff;display:block; text-align:center; text-decoration:none;}
.media-bar-cart-count{height:25px;width:25px;border-radius:50%;text-align: center;color:#fff;background:#ff6600;display:block; line-height:25px;margin:0 auto;}
.media-bar-cart:hover .media-bar-cart-count,.panel-bar .active .media-bar-cart-count{background:#fff;color:#ed145b;}
/*我的足迹*/
.media-bar-visited .setting{background-position:0 -60px;}
.pannel-toggle a.add-cart{background-color:#1AC14B;color:#fff;height:25px;width:80px;display:block; text-align:center;line-height:25px;}
/*我的收藏*/
.media-bar-collect .setting{background-position:0 -90px;}
/*返回顶部*/
.cart-bar-tools .bottom{position: absolute;bottom:0;left: 0;width: 40px;}
.back-top .setting{background-position:0 -120px;}

/***小圆标***/
.badge-round-green{display: inline-block;width: 6px;height: 6px;background-color: #5EA31A;border-radius: 3px;}
/**个人中心**/
.user-title{width: 100%;border-bottom: 2px solid #eee;padding-bottom: 5px}
.user-title .user-title-text{font-size: 16px;color: #60A411;border-bottom: 2px solid #60A411;padding-bottom: 5px;font-weight: bold}
.user-title .user-title-add{float: right;font-size: 16px;cursor: pointer;border-bottom: solid 2px #eee;padding-bottom: 5px;color: #FF6627;transition: all 200ms;}
.user-title .user-title-add:hover{border-bottom: solid 2px #60A411;color: #60A411;}


/***加载动画***/
.sk-wave {margin: 200px auto;width: 50px;height: 40px;text-align: center;font-size: 10px; }
.sk-wave .sk-rect {background-color: #ff6600;height: 100%;width: 6px;display: inline-block;-webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;animation: sk-waveStretchDelay 1.2s infinite ease-in-out;margin: 2px}
.sk-wave .sk-rect1 {-webkit-animation-delay: -1.2s; animation-delay: -1.2s; }
.sk-wave .sk-rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s; }.sk-wave .sk-rect3 {-webkit-animation-delay: -1s;animation-delay: -1s; }
.sk-wave .sk-rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s; }
.sk-wave .sk-rect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4); }20% {-webkit-transform: scaleY(1);transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4); }20% {-webkit-transform: scaleY(1);transform: scaleY(1); } }





/***** 公共的页面CSS ******/
a{color:#333}
a:hover{color:#ff6600;text-decoration: none;}
body{font-family: "Verdana","Microsoft YaHei";font-size:12px;}
#topbar{line-height:35px;color:#999;height:35px;font-size:12px;background-color: #f1f1f1;}
#topbar a{color:#333333}
#topbar a:hover{color:#ff6600}
#topbar .cities-toggle{float:left;margin-right: 10px}
#topbar .ui-beacon-item-link{height:35px;line-height:35px;}
#topbar .ui-beacon-subs{top:34px;}
#topbar .cities-toggle .ui-beacon-subs{left:52px}
#topbar .cities-toggle-current{color:#FF9934 !important;font-weight:bold;margin-right: 10px;}
#topbar .cities-toggle-btn{color:#666;}
.cities-toggle-content{width:480px;padding-bottom: 30px;}
.cities-select-heading{font-size:14px;margin:0px 0px 10px 0px;color:#666;}
#topbar .topbar-cart-icon{color:#ff6600}
#topbar .ui-beacon-hollow-arrow b {border-top-color: #f1f1f1;}
#topbar .ui-beacon-drop-hover .ui-beacon-item-link{background: #fff;border-color:#e7e7e7;color:#333 !important;}
#topbar .ui-beacon-drop-hover .ui-beacon-hollow-arrow em {border-top-color: #ccc;}
#topbar .ui-beacon-drop-hover .ui-beacon-hollow-arrow b {border-top-color: #fff;}
#cart-count{background:url(../img/icons.png) no-repeat 0px -18px;height:22px;color:#fff;width:30px;padding-left:4px;padding-right:4px;}
#topbar .navbar-nav>li>a{padding-top:0;padding-bottom:0;line-height:35px}
#topbar .navbar-nav{margin:0;}
#topbar .navbar-nav>li{float:left;}
/*.topbar-dropdown .dropdown-toggle{background:url(../img/topbar-down.png) no-repeat right center;}*/
#container{min-height:470px;}
/*底部样式*/
.footercontainer{clear:both;min-width:1200px; height:auto;}
.friends_link{ width:1198px; height:auto; margin:auto;border:1px solid #ddd; margin-top:20px; margin-bottom:20px;overflow:hidden;}
.friends_link .links{width:1158px;height:30px; line-height:30px;font-size:14px; color:#333; font-weight:bold; margin:auto;margin-top:10px;}
.friends_link ul{ width:1158px; height:auto;margin:auto;list-style-type:none; padding:0;overflow:hidden; margin-bottom:10px;}
.friends_link ul li{float:left; height:30px; line-height:30px;display: inline-block;vertical-align:top;margin-right:20px;}
.friends_link ul li a{ color:#999999; display:block;}
.footer{ width:100%; height:270px; background:#3c3c3c;margin-top:20px;}
.ft-content{ width:1200px;height:210px;margin:0 auto; overflow:hidden;}
.ft-info{ width:200px; height:140px;float:left; color:#999; margin-top:40px; background:url(/Public/img/footer/foot_line.jpg) right no-repeat;overflow:inherit;}
.ft-info dl{ width:200px; height:140px;}
.ft-info dl dt{  height:32px;line-height:32px; font-size:14px; text-align:center;}
.ft-info dl ul{ height:140px;list-style-type:none;}
.ft-info dl ul li{float:left;height:28px;line-height:28px;width:100px;text-align:center;}
.ft-info dl ul li a{ color:#999;font-size:12px;}
.ft-info dl ul li a:hover{ color:#c2c2c2;}


.ft-contact{ width:240px; height:140px;float:left; color:#999; margin-top:40px; background:url(/Public/img/footer/foot_line.jpg) right no-repeat;overflow:inherit;}
.ft-contact dl{ width:240px; height:140px;overflow:hidden;}
.ft-contact dl dt{ width:240px; height:35px;font-size:14px; text-align:center;}
.ft-contact ul{ width:240px; height:65px;}
.ft-contact ul li{overflow:inherit;list-style:none;width:100%;padding:5px 0 5px 0; text-align: center;}
.call-number{font-size:20px; color:#c2c2c2;}
.ft-contact p{ width:89px; height:29px; margin-left:42px;}
.ft-share{ width:240px; height:140px;float:left;  margin-top:40px; background:url(/Public/img/footer/foot_line.jpg) right no-repeat;}
.ft-share dl{margin-left:75px;}
.ft-share dl dt{ width:31px; height:31px;float:left; overflow:inherit; margin-right:10px;}
.ft-share dl dd{ height:31px; line-height:31px; overflow:inherit;margin-left:20px;}
.ft-share dl dd a{color:#999;}
.ft-share dl dd a:hover{color:#c2c2c2;}
.call-time a{margin-right:5px;}
.ft-weixin{width:320px; height:140px;float:left;  margin-top:40px; }
.ft-weixin dd{margin-left:40px;float:left; overflow:inherit;text-align:center; margin-top:15px;}
.ft-weixin dd p{ height:30px; line-height:30px;}
.ft-weixin dd p a{color:#999;font-size:12px;}
.ft-weixin dd p a:hover{color:#c2c2c2;}

.copyright{ width:1200px; height:50px; background:#F30; margin:0 auto; background:url(/Public/img/footer/line_bg.jpg) repeat-x;font-size:12px;}
.copyright ul li{ list-style:none; height:50px; line-height:50px; color:#999;text-align:center;}
.copyright ul li a{color:#999;}
.copyright ul li img{ width:16px; height:17px;margin-right:5px; margin-top:-3px;}


/********
    @name 单行省略号
    @date 15/12/12
    @author kassing
    @desc
****/
.ellipsis{max-width: 60%;white-space: nowrap;overflow: hidden;display: inline-block;text-overflow: ellipsis;}


/********
    @name 进度条默认状态
    @date 16/01/15
    @author gaohansheng
    @desc
****/
.schedule-bar{height:8px;border:1px solid #65b507; border-radius:4px; width:100%;overflow:hidden;}
.schedule-current{background:#65b507;height:6px;vertical-align: top; display:block; border-radius:4px;}


/*==========以下部分是Validform必须的===========*/
.Validform_checktip{margin-left:8px;line-height: 24px; height: 24px;overflow:hidden;color:#999;font-size:12px; float: left;}
.Validform_right{color:#71b83d;padding-left:23px;background:url(../img/valid_icons.png) no-repeat left -23px;}
.Validform_wrong{color:red;padding-left:23px;white-space:nowrap;background:url(../img/valid_icons.png) no-repeat left -60px;}
.Validform_loading{padding-left:23px;background:url(../img/onLoad.gif) no-repeat left center;}
.Validform_error{background-color:#ffe7e7;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}

/*阴影*/
.shadow{position: absolute;bottom: 0;top: 0;left: 0;right: 0;background: url(../img/shadow.png) repeat-x;}
/*已出租土地*/
.trades{}
    .trades-head{background:#f5f8fa;height:30px;line-height: 30px;border:1px solid #e4eaee;margin:10px 0;}
    .trades-head ul li{float:left;height:30px;padding-left:20px;}
    .trades-head ul li.th1{width:320px;}
    .trades-head ul li.th2{width:445px;}
    .trades-head ul li.th3{width:160px;}
    .trades .trades-media{border:1px solid #b4d5ff;margin-top:10px;}
    .trades .trades-media .trades-media-head{background:#e8f2ff;height:30px;line-height:30px;border-bottom:1px solid #b4d5ff;padding-left:20px;}
    .trades .trades-media .trades-thumb{width:310px;height:220px;border-right:1px solid #e4eaee;}
    .trades .trades-media .trades-thumb a img{width:270px;height:180px;margin:20px;}

    .trades .trades-media .trades-txt{width:470px;height:220px;padding:20px;border-right:1px solid #e4eaee;}
    .trades .trades-media .trades-txt ul{border-bottom:1px solid #e4eaee;margin-bottom:20px;margin-left:0;}
    .trades .trades-media .trades-txt ul li{width:100px;font-size:16px; text-align: center;float:left;margin-top:0;line-height:28px;}
    .trades .trades-media .trades-txt ul li.active{border-bottom:1px solid #ff6600;margin-bottom:-1px;}
    .trades .trades-media .trades-txt .trades-txt-body .pull-left{width:180px;}
    .trades .trades-media .trades-txt .trades-txt-body .pull-right{width:230px;}
    .trades-state{width:185px;}
    .trades-state .trades-txt-body{padding-left:5px;}
    .trades-state .btn-info{float:right;margin:10px;}

    .state-div{width:185px;height:220px;font-size:14px;}
    .state-div span.name{background:none;width:70px;height:30px; line-height:30px;margin:10px auto;float:left;}
    .state-div span{background:url(../img/state.png) no-repeat;height:30px;width:30px;display:inline-block;margin:10px auto; cursor: pointer;}
    .state-div span.active{background-position:0 -33px;}
    .m-ewm img{margin:0 auto;height:130px;width:130px;}
/*    .state-div .btn{border:1px solid #999;}*/
    .trades-media-footer{padding:0 10px;border-top:1px solid #e4eaee;padding-bottom:10px;}
     .trades-media-footer h5{margin:10px;}
    .trades-media-footer .focus-pic{width:780px;position:relative;height:80px;float:left;overflow:hidden;}
    .trades-media-footer .focus-pic ul li{width:120px;height:80px;margin-left:10px;margin-top:0;}
    .trades-media-footer .focus-pic ul li a img{width:120px;height:80px;}
    .trades-media-footer .focus-pic span{background:url(../img/trades-lft-rgt.png) no-repeat;width:25px;height:80px;position:absolute;z-index:9999;cursor:pointer;}
    .trades-media-footer .focus-pic span.btn-lft{left:10px;top:0;}
    .trades-media-footer .focus-pic span.btn-rgt{right:0;top:0;background-position:-25px 0;}
    .code-btn{background:url(../img/code-btn.jpg) no-repeat;height:28px;width:88px;float:right;margin-top:20px; cursor: pointer;}
    
 /*种植动态*/
.time-line-head{margin-bottom:20px;margin-top:20px;height:35px;width:100%;border-bottom:1px solid #e4e4e4;}
   .timeline h3{font-size:16px; border-bottom:1px solid #FF6600;line-height: 32px;margin:0;margin-bottom:1px;}
   .timeline-body ul{background:url(../img/time-line-ul.png) repeat-y 80px 100px;}
   .timeline-body ul li{position:relative;background:url(../img/timeline-li-ico.jpg) no-repeat 75px 20px;}
   .time-items{float:left;margin-left:20px;width:820px;}
   .thumb-user{width:55px;height:55px;float:left;}
   .thumb-user img{width:55px;height:55px;border-radius: 50%;}

   .manger-grade{border:1px solid #398439;padding:10px;}
   .manger-grade .btn{margin:0 2px;}
   .date-time{color:#00bbff;font-size:14px;float:left;padding-left:30px;}
   .time-items-txt{float:left;margin-left:20px;width:720px;display:inline;}
   .time-items-txt dt{font-size:14px;padding:10px 0;font-weight:normal;}
   .time-items-txt dt a{color:#00bbff;}
   .time-items-txt dd{font-size:14px;padding:5px 0;}
   .time-items-txt .items-summary{font-size:12px;}
   .time-items-txt dd img{width:120px;height:80px;margin:2px;}
   .time-items-txt dd .btn-info{float:right;}

   .prev-pic{display: inline-block;background: url(../img/arrow.gif) no-repeat;width: 15px;height: 24px;position: absolute;top: 48%;right: 20px}
   .next-pic{display: inline-block;background: url(../img/arrow.gif) no-repeat;width: 15px;height: 24px;background-position: -16px 0;position: absolute;top: 48%;left: 20px}
    
    /*模态框*/
#masking{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background:rgba(0,0,0,0.8);z-index: 99999}
#masking .city{position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 30%;height: 35%;margin: auto;background: #fff;border-radius: 10px;padding: 0 20px}
#masking .city-head .city-title{border-bottom: dotted 2px #eee;padding-bottom: 10px;margin-top: 20px !important}
#masking .city-body a{border:solid 1px #eee;display: inline-block;padding: 10px 0;width: 86px;text-align: center;font-size: 14px;margin: 10px 5px}

/*返回顶部按钮*/
#TopButton {top:70%;_margin-top:70%;}
#TopButton{z-index:9999;width:50px;height:220px;right:0;position:fixed;
cursor:pointer;_position:absolute;_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}
#moquu_top,#moquu_wxin,#moquu_wshare,#moquu_wmaps{z-index:2;width:50px;height:50px;right:0;position:fixed;
cursor:pointer;_position:absolute;_bottom:auto;}

#moquu_wxin{}
#moquu_wxin a{background:url(../img/popwin/sbtn.png) 0 -0px;right:0;float:left;width:50px;height:50px;text-indent:-9999px}
#moquu_wxin a:hover{background:url(../img/popwin/sbtn.png) -50px -0px}
#moquu_wshare{margin-top:55px;}
#moquu_wshare a{background:url(../img/popwin/sbtn.png) 0 -50px;width:50px;height:50px;right:0;float:left;text-indent:-9999px}
#moquu_wshare a:hover{background:url(../img/popwin/sbtn.png) -50px -50px}
#moquu_wmaps{margin-top:110px;}
#moquu_wmaps a{background:url(../img/popwin/sbtn.png) 0 -150px;width:50px;height:50px;right:0;float:left;text-indent:-9999px}
#moquu_wmaps a:hover{background:url(../img/popwin/sbtn.png) -50px -150px}
#moquu_top{margin-top:165px;background:url(../img/popwin/sbtn.png) 0 -101px;width:50px;height:50px}
#moquu_top:hover{background:url(../img/popwin/sbtn.png) -50px -101px}
.moquu_wxin,.moquu_wshare{position:relative;z-index:2}
.moquu_wxin a:hover .moquu_wxinh,.moquu_wshare a:hover .moquu_wshareh{display:block}
.moquu_wxin .moquu_wxinh{position:absolute;display:none;left:-280px;top:-200px;width:275px;height:355px;background:url(../img/popwin/moquu_wshare.png) no-repeat}
.moquu_wshare .moquu_wshareh{position:absolute;display:none;left:-280px;top:-200px;width:275px;height:360px;background:url(../img/popwin/moquu_ico.png) no-repeat}


/*配套设施*/
#support .items{position:relative;}
#support .items .items-heading{position:relative;}
#support .items .items-heading img{width:408px;height:300px;}
#support .items .items-heading .s-icons{position:absolute;left:20px;top:0;width:67px;height:64px;}
#support .items .items-body{width:100%;position:absolute;bottom:0;left:0;padding:10px 20px;}
#support .items .items-summary{color:#fff;font-size:14px;}
#support .items .items-summary strong{font-size:18px;font-weight:normal;}

/*<!--优惠券开始-->*/
.item-get a{font-size:12px;}
.item-get span{color:red;font-size:14px;}

/*星型图标*/
.star{margin-left: 0 !important;display: inline-block;height: 13px;width: 85px;background:url(../img/bdscore.png) no-repeat 0 0px;position: relative;}
.star-active{display: inline-block;position: absolute;top: 0;left: 0;bottom: 0;background:url(../img/bdscore.png) no-repeat 0 -15px}

/*zphone*/
#zphone{width:140px;}